.header--grid {
  grid-template-areas: 'left center right';
}

.header--grid__logo {
  grid-area: center;
}

.header--grid__left-button {
  @apply hidden;
}

@screen lg {
  .header--grid__logo {
    grid-area: left;
  }
}
