# https://zenn.dev/haxibami/scraps/083718c1beec04
strict-peer-dependencies=false

registry=https://registry.npmjs.org

public-hoist-pattern[]=mdast-util-to-markdown
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
