#dashboard {
  *:focus {
    outline: none;
  }

  *:focus-visible {
    outline: 0 !important;
    box-shadow: none;
  }
}
[data-theme='dark'] {
  *,
  *::before,
  *::after {
    --bc: rgb(60, 60, 60);
  }
}

*,
*::before,
*::after {
  --bc: rgb(228, 227, 227);

  border-color: var(--bc);
}
