/* image-zoom */
.medium-zoom-overlay {
  z-index: 99;

  @apply !bg-zinc-50 dark:!bg-neutral-900;
}

/* .medium-zoom-overlay + .medium-zoom-image {
} */

.medium-zoom-image {
  border-radius: 0.5rem;
  transition: border-radius 0.3s ease-in-out;
}
.medium-zoom-image.medium-zoom-image--opened {
  border-radius: 0;

  z-index: 100;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
