@import './tailwindcss.css';
@import './variables.css';
@import './uikit.css';
@import './scrollbar.css';
@import './print.css';
@import './clerk.css';
@import './image-zoom.css';
@import './toastify.css';

@import './theme.css';
@import './webfont.css';
