body::-webkit-scrollbar {
  height: 0;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: theme(colors.neutral);
  border: 3px solid theme(colors.base-100);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: theme(colors.base-100);
}

::-webkit-scrollbar-thumb {
  background: theme(colors.neutral);
}

::-webkit-scrollbar-thumb:hover {
  background: theme(colors.neutral-focus);
}

::-webkit-scrollbar-corner {
  background: theme(colors.base-100);
}
