body::-webkit-scrollbar {
  height: 0;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: theme(colors.accent);
  border: 3px solid theme(colors.white);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: theme(colors.white);
}

::-webkit-scrollbar-thumb {
  background: theme(colors.accent);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

::-webkit-scrollbar-corner {
  background: theme(colors.white);
}
