/* sonner */
[data-sonner-toast] {
  &[data-type='success']::before,
  &[data-type='error']::before,
  &[data-type='info']::before,
  &[data-type='warning']::before {
    content: '';
    border-radius: var(--border-radius);

    @apply pointer-events-none absolute inset-0 z-[-1] !transform-none opacity-10 dark:opacity-20;
  }

  &[data-type='success']::before {
    background: linear-gradient(to left, #56b4d3, #348f50);
  }

  &[data-type='error']::before {
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
  }

  &[data-type='info']::before {
    background: linear-gradient(to right, #64a7d5, #6dd5fa, #c5eef4);
  }

  &[data-type='warning']::before {
    background: linear-gradient(to right, #f2994a, #f2c94c);
  }
}
