@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  line-height: 1.5;
}

.prose {
  max-width: 100% !important;
}

* {
  @apply duration-200;
}

*:focus {
  outline: none;
}

*:not(input):not(textarea):not([contenteditable='true']):focus-visible {
  outline: 0 !important;
  box-shadow: theme(colors.accent) 0px 0px 0px 2px !important;
}
