@layer components {
  .shiro-link--underline,
  .shiro-timeline a {
    color: currentColor;
    background-image: linear-gradient(
      theme(colors.accent),
      theme(colors.accent)
    );
    background-size: 0% 1.5px;
    background-repeat: no-repeat;
    /* NOTE: this won't work with background images   */
    text-shadow: 0.05em 0 theme(colors.base-100),
      -0.05em 0 theme(colors.base-100);
    transition: all 500ms ease;

    @apply border-0 no-underline;

    background-position: left 1.2em;

    &:hover {
      background-size: 100% 1.5px;

      transition: all 250ms ease;
    }
  }

  .shiro-timeline {
    position: relative;

    & a {
      line-height: 1.6;
    }

    @apply min-w-0 flex-1 list-inside justify-between;

    & > li::before {
      content: '';
      position: absolute;
      left: -1.05rem;
      bottom: 0;
      border-left: 1px solid theme(colors.accent);
    }

    & > li:first-child:last-child::before {
      border-left: 0;
    }

    & > li:not(:first-child):not(:last-child)::before {
      top: 0;
    }

    & > li:first-child::before {
      top: 50%;
    }

    & > li:last-child::before {
      bottom: 50%;
      top: 0;
    }

    & > li {
      position: relative;
      list-style-type: none;

      line-height: 1.6;
      padding: 3px 0;
      margin: 0 0 0 1rem;
    }

    & > li::after {
      content: '';
      left: -1.28rem;
      top: 50%;
      transform: translateY(-50%);
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      position: absolute;
      background-color: theme(colors.accent);
    }
  }
}

@layer components {
  .mask-cover {
    mask-image: linear-gradient(to right, transparent, rgb(0 0 0 / 100%) 90%);
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }

  .group:hover .mask-cover {
    opacity: 0.5;
  }

  .animation-blink {
    animation: blink 2s ease infinite both;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}
