html {
  --border-color: #eee;
  --font-sans: theme('fontFamily.sans');
  --theme-color: var(--auto-theme-color, theme('colors.accent'));
  --hover-color: var(--auto-hover-color, theme('colors.accent-focus'));
  --header-height: auto;
  /* Accent color for form controls */
  accent-color: var(--theme-color);

  /* make app like native app in mobile */
  -webkit-tap-highlight-color: transparent;
  /*  for firefox */
  scrollbar-color: var(--theme-color) transparent;
  scrollbar-width: thin;

  font-family: var(--font-sans);
}

:root {
  --bg-opacity: rgba(255, 255, 255, 0.72);
}

[data-theme='dark'] {
  --bg-opacity: rgba(29, 29, 31, 0.72);
}

::selection {
  background-color: var(--theme-color);
  color: theme(colors.always.white);
  text-shadow: none;
}

[data-theme='dark'] ::selection {
  color: theme(colors.always.neutral.800);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}
[data-theme='dark']::view-transition-old(root) {
  z-index: 1;
}
[data-theme='dark']::view-transition-new(root) {
  z-index: 9999;
}

[data-theme='light']::view-transition-new(root) {
  z-index: 9999;
}
