@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://raw.githubusercontent.com/sindresorhus/github-markdown-css/main/github-markdown.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui !important;
}
