.code-card {
  @apply relative my-6 overflow-hidden rounded-md;
  :global {
    pre {
      @apply !m-0 !p-0;

      font-size: min(1em, 16px);
    }

    pre code {
      @apply flex flex-col;
    }

    .shiki,
    code {
      @apply !bg-transparent;
    }

    .line {
      @apply block min-h-[1em] px-4;
    }

    .highlighted,
    .diff {
      @apply relative break-all;
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow: auto;

      &::before {
        @apply absolute left-0 top-0 h-full w-[2px];
        content: '';
      }
    }

    .diff.add {
      @apply bg-green-100 dark:bg-green-900;

      &::before {
        @apply bg-green-500;
      }

      &::after {
        content: ' +';
        @apply absolute left-0 text-green-500;
      }
    }

    .diff.remove {
      @apply bg-red-100 dark:bg-red-900;

      &::before {
        @apply bg-red-500;
      }

      &::after {
        content: ' -';
        @apply absolute left-0 text-red-500;
      }
    }

    .highlighted {
      @apply bg-accent/20;

      white-space: pre-wrap;
      word-wrap: break-word;
      overflow: auto;

      &::before {
        @apply bg-accent;
      }
    }
  }

  .scroll-container::-webkit-scrollbar-track {
    margin: 10px; /* 滚动条顶部间距 */
  }
}
