@import './tailwindcss.css';
@import './variables.css';

@import './scrollbar.css';
@import './print.css';

@import './theme.css';
@import './webfont.css';
@import './mask.css';
@import 'react-photo-view/dist/react-photo-view.css';
