.link {
  display: inline-block;
  position: relative;

  a {
    cursor: alias;
    overflow: hidden;
    position: relative;
    color: var(--a);
  }

  a::after {
    content: '';
    position: absolute;
    bottom: -1.9px;
    height: 1px;
    background-color: currentColor;
    width: 0;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
    transition: width 0.5s ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }
}
