.link {
  color: currentColor;
  background-image: linear-gradient(theme(colors.accent), theme(colors.accent));
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  /* NOTE: this won't work with background images   */
  text-shadow: 0.05em 0 theme(colors.base-100), -0.05em 0 theme(colors.base-100);
  transition: all 500ms ease;

  @apply border-0 no-underline;

  background-position: left 1.2em;

  &:hover {
    background-size: 100% 1.5px;

    transition: all 250ms ease;
  }
}
