.error,
.loading {
  @apply opacity-0;
}

.loaded {
  animation: imageLoad 500ms ease-in-out forwards;
}

@keyframes imageLoad {
  0% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 150% 0 /
      400% no-repeat;
    opacity: 0.2;
  }
  100% {
    mask: linear-gradient(90deg, #000 25%, #000000e6 50%, #00000000) 0 / 400%
      no-repeat;
    opacity: 1;
  }
}
